@model MelodyShop.DAL.Cart

@{
    ViewBag.Title = "Usuń z koszyka";
}

<h2>Usuń z koszyka</h2>

<h3>Czy napewno chcesz usunąć ten produkt z koszyka??</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.modyfity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.modyfity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
